.footer {
  background-color: rgb(0 53 85 / var(--tw-bg-opacity, 1));
  padding: 40px 24px;
  color: #fff;

  .footer-logo {
    font-weight: bold;
    color: #fff;
    max-width: 220px;
  }

  .footer-description {
    max-width: 220px;
    display: block;
  }

  .ant-typography {
    color: #fff;
  }

  h5.ant-typography {
    color: #fff;
  }

  a {
    color: #a6a6a6;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .footer-icons {
    a {
      font-size: 24px;
      margin-right: 12px;

      &:hover {
        color: #1890ff;
      }
    }
  }

  .footer-bottom {
    margin-top: 40px;
    text-align: center;

    span {
      color: #ccc;
    }
  }
}
