.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 1 auto;
    min-width: 0;

    .logo {
        a {
            color: black !important; // đổi màu thành trắng
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;

            
        }
    }

    .search-course {
      min-width: 250px;
      max-width: 100%;
      flex: 1;
    }
  }

 .menu {
  background: transparent;
  border-bottom: none;
  flex-shrink: 0;
  white-space: nowrap;

  .ant-menu-item {
  a {
    color: #999 !important;
    text-decoration: none;
  }

  // Hover: chỉ đổi màu chữ, không gạch chân
  &:hover {
    a {
      color: black !important;
    }
  }

  // Khi được chọn
  &.ant-menu-item-selected {
    a {
      color: black !important;
    }
  }

  // Xóa đường viền dưới nếu Ant Design thêm qua ::after
  &::after {
    border-bottom: none !important;
  }
}
}
}
