.profile-page {
  padding: 24px;

  .custom-profile-menu {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: rgb(0 53 85 / var(--tw-bg-opacity, 1));
    color: white;

    .ant-menu-item {
      color: white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
      }

      &.ant-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
      }

      .ant-menu-item-icon {
        color: white;
      }
    }
  }
  .content-profile {
    .pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
    .course-card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
      }
    }
    .profile-card {
      border-radius: 12px;
      padding: 16px;
    }

    .profile-avatar-col {
      text-align: center;

      .profile-avatar {
        margin-bottom: 12px;
      }

      .profile-role-tag {
        background-color: #52c41a;
        color: white;
        font-size: 14px;
        padding: 2px 10px;
        border: none;
      }

      .upload-btn {
        margin-top: 8px;
      }
    }

    .profile-descriptions {
      .ant-descriptions-item-label {
        font-weight: 600;
      }
    }

    .edit-btn-wrapper {
      margin-top: 16px;
    }
  }
}
